# Ignore any built binaries.
terraform-provider-tanzu-mission-control*
terraform-provider-tanzu-mission-control.exe

# Ignore distribution directories.
dist/

# Ignore editor directories.
.idea/
.vscode/

# Ignore temporaroy editor files.
*~

# Ignore macOS desktop services store files.
**/.DS_Store

