bin/*
dist/*
_output/*
.DS_Store
.vscode
.idea/*
vendor/*
cover.out
.idea/
terraform.*
crash.log
.terraform/
terraform-provider-tmc
terraform.tfplan
terraform.tfstate
*.backup
*.bak
*~
.terraform.tfstate.lock.info
