---
Title: "Provisioning of a Azure AKS cluster"
Description: |-
    An example of provisioning Azure AKS clusters.
---
# AKS Cluster

The `tanzu-mission-control_akscluster` resource can directly perform cluster lifecycle management operations on AKS clusters
(and associated node groups) including create, update, upgrade, and delete through Tanzu Mission Control.

## Prerequisites

To manage the lifecycle of AKS clusters, you need the following prerequisites.

- Set up a credential that allows VMware Tanzu Mission Control to connect to your Azure subscription and manage resources in your Azure account. Please refer [connecting an Azure account for AKS cluster lifecycle management][azure-account] guide for detailed steps.
You can also use `tanzu-mission-control_credential` Terraform resource for this purpose. The name of the Azure AKS credential in Tanzu Mission Control will be referred to as `credential_name` in this guide.

- Create a Service Principal with Contributor role on each Azure subscription it has access to. Select either Azure CLI or Azure Portal UI and follow the instructions for the selected method. Please refer to Tanzu documentation on how to [create a Service Principal for AKS cluster lifecycle management][tanzu-aks-credential] .

- Ensure the CSP token used in initialising the terraform provider has the right set of permissions to create a workload cluster.

[tanzu-aks-credential]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-90ED8C73-8A40-46FF-85AE-A8DAA9048AA9.html?hWord=N4IghgNiBcIMoFEBKA1AkgYQQAgApLQDkM1cBBAGRAF8g
[azure-account]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-2CA6A21A-1D33-4852-B8F2-86BB3A1337E4.html

## Provisioning the cluster

You can use the following template as reference to write your own `tanzu-mission-control_akscluster` resource in the terraform scripts.

{{ tffile "resource_templates/akscluster.tf" }}