# Beyond SaaS: Tanzu Mission Control Self-Managed

Tanzu Mission Control Self-Managed offers a packaged deployment model for Kubernetes fleet management. Because it is deployed in your own infrastructure, you can run this service in an air-gapped environment. Organizations in highly regulated industries like healthcare, finance, and government can benefit from centralized Kubernetes management while meeting compliance and data sovereignty requirements.

For more information about deploying a local instance of Tanzu Mission Control Self-Managed, see the following topics in the Tanzu Mission Control documentation:

- [VMware Tanzu Mission Control Self-Managed Release Notes][release-notes]
- [Installing and Running VMware Tanzu Mission Control Self-Managed][install-tmc-sm] to learn about the self-managed version.
- [Preparing your cluster to host Tanzu Mission Control Self-Managed][prepare-cluster-for-tmc-sm] to learn how to set up your cluster before deployment.
- [Using Tanzu Mission Control Self-Managed][using-tmc-sm] to learn about the functional differences between the SaaS version and the self-managed version.

[using-tmc-sm]: https://techdocs.broadcom.com/us/en/vmware-tanzu/standalone-components/tanzu-mission-control/1-4/tanzu-mission-control-documentation/tanzumc-using-index-tmc-using-GUID-B3349CE8-C98D-4453-9EC8-536A72239F8D.html
[release-notes]: https://techdocs.broadcom.com/us/en/vmware-tanzu/standalone-components/tanzu-mission-control/1-4/tanzu-mission-control-documentation/rn-tmc-sm-release-notes.html
[prepare-cluster-for-tmc-sm]: https://techdocs.broadcom.com/us/en/vmware-tanzu/standalone-components/tanzu-mission-control/1-4/tanzu-mission-control-documentation/tanzumc-sm-install-config-prepare-cluster.html
[install-tmc-sm]: https://techdocs.broadcom.com/us/en/vmware-tanzu/standalone-components/tanzu-mission-control/1-4/tanzu-mission-control-documentation/tanzumc-sm-install-config-index-sm-install.html
