---
Title: "Provisioning of a workload cluster"
Description: |-
    An example of provisioning Tanzu Kubernetes Grid Service, Tanzu Kubernetes Grid vSphere and Tanzu Kubernetes Grid AWS workload clusters.
---
# Cluster

The `tanzu-mission-control_cluster` resource enables you to attach conformant Kubernetes clusters for management through Tanzu Mission Control.
With Tanzu Kubernetes clusters, you can also provision resources to create new workload clusters.

## Tanzu Kubernetes Grid Service Workload Cluster

Before creating a Tanzu Kubernetes Grid Service workload cluster in vSphere with Tanzu using this Terraform provider we need the following prerequisites.

~> **Note:**
Current version of `tanzu-mission-control_cluster` resource in Tanzu Mission Control provider supports creation of deafult nodepool and updates to some fields specifically `worker_node_count, class, storage_class` in case of Tanzu Kubernetes Grid Service workload cluster and updation of `worker_node_count` in case Tanzu Kubernetes Grid vSphere Workload Cluster of default nodepool. Deletion of the default nodepool is not yet supported via this resource and will be added in the upcoming releases.
All other nodepools except the default nodepool can be managed via `tanzu-mission-control_cluster_node_pool` resource.

**Prerequisites:**

- Register the Tanzu Kubernetes Grid Service management cluster in Tanzu Mission Control.
Note that the Tanzu Kubernetes Grid Service management cluster must be **ready** and **healthy**.
Please refer to [registration of a Supervisor Cluster in vSphere with Tanzu.][supervisor-cluster-registration]

- Create a provisioner under the management cluster or reuse the existing providers under the management cluster. Please refer to [working with vSphere Namespaces on a Supervisor Cluster.][vSphere-namespaces]

- Ensure the CSP token used in initialising the terraform provider has the right set of permissions to create a workload cluster.

Once you have the `management cluster name` and `provisioner name` from Tanzu mission control, we are all set to provision a workload under the chosen management cluster name using the terraform script (example below).

If you need to update the cluster, you update the rule definition and then Terraform apply applies it across all the sites.
If you add or remove a site from the list, Terraform also handles creating or removing the rule on the subsequent `terraform apply`operation.

If you want to manage the already existing workload, Refer to [adding a Workload Cluster into Tanzu Mission Control Management.][add-workload-cluster]
For more information about provisioning a workload, please refer to [provision a Cluster in vSphere with Tanzu][provision-cluster-vsphere]

[supervisor-cluster-registration]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-CC6E721E-43BF-4066-AA0A-F744280D6A03.html#GUID-CC6E721E-43BF-4066-AA0A-F744280D6A03
[vSphere-namespaces]: https://docs.vmware.com/en/VMware-vSphere/7.0/vmware-vsphere-with-tanzu/GUID-1544C9FE-0B23-434E-B823-C59EFC2F7309.html
[add-workload-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-78908829-CB4E-459F-AA81-BEA415EC9A11.html
[provision-cluster-vsphere]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-0A1AEC6A-3E5C-424F-8EBC-1DDFC14D2688.html

You can provision a Tanzu Kubernetes Grid Service workload cluster in vSphere with Tanzu using this Terraform provider, as shown in the example below.
This example assumes that you have already registered a Tanzu Kubernetes Grid Service management cluster with Tanzu Mission Control.

{{ tffile "resource_templates/cluster_tkgs.tf" }}

## Tanzu Kubernetes Grid vSphere Workload Cluster

Before provisioning a Tanzu Kubernetes Grid vSphere workload cluster using this Terraform provider we need the following prerequisites.

**Prerequisites:**

- Register the Tanzu Kubernetes Grid management cluster in Tanzu Mission Control.
Please refer to [register Management Cluster with Tanzu Mission Control.][management-cluster-registration]

- Create a provisioner under the management cluster or reuse the existing provisioners under the management cluster. Please refer to [create a Provisioner.][create-provisioner]

- Ensure the CSP token used in initialising the terraform provider has the right set of permissions to create a workload cluster.

Once you have the `management cluster name` and `provisioner name` from Tanzu mission control, we are all set to provision a workload under the chosen management cluster name using the terraform script (example below).

If you need to update the cluster, you update the rule definition and then Terraform apply applies it across all the sites.
If you add or remove a site from the list, Terraform also handles creating or removing the rule on the subsequent `terraform apply`operation.

If you want to manage the already existing workload, refer to [adding a Workload Cluster into Tanzu Mission Control Management.][add-workload-cluster]
For more information about provisioning a workload, please refer to [provision a workload cluster in vSphere][provision-cluster-vsphere]

[management-cluster-registration]: https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.4/vmware-tanzu-kubernetes-grid-14/GUID-mgmt-clusters-register_tmc.html
[create-provisioner]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-BA7124EB-2A6B-46BC-839A-57609871306E.html
[add-workload-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-78908829-CB4E-459F-AA81-BEA415EC9A11.html
[provision-cluster-vsphere]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-9435CCAC-F90B-4575-9D73-D26315871C8A.html

You can provision a Tanzu Kubernetes Grid workload cluster on vSphere using this Terraform provider, as shown in the example below.
This example assumes that you have already registered a Tanzu Kubernetes Grid management cluster with Tanzu Mission Control.

{{ tffile "resource_templates/cluster_tkg_vsphere.tf" }}

## Tanzu Kubernetes Grid AWS Workload Cluster

Before provisioning a Tanzu Kubernetes Grid AWS workload cluster using this Terraform provider we need the following prerequisites.

**Prerequisites:**

- Register the Tanzu Kubernetes Grid management cluster in Tanzu Mission Control.
Please refer to [register Management Cluster with Tanzu Mission Control.][management-cluster-registration]

- Create a provisioner under the management cluster or reuse the existing provisioners under the management cluster. Please refer to [create a Provisioner.][create-provisioner]

- Ensure the CSP token used in initialising the terraform provider has the right set of permissions to create a workload cluster.

Once you have the `management cluster name` and `provisioner name` from Tanzu mission control, we are all set to provision a workload under the chosen management cluster name using the terraform script (example below).

If you need to update the cluster, you update the rule definition and then Terraform apply applies it across all the sites.
If you add or remove a site from the list, Terraform also handles creating or removing the rule on the subsequent `terraform apply`operation.

If you want to manage the already existing workload, refer to [adding a Workload Cluster into Tanzu Mission Control Management.][add-workload-cluster]
For more information about provisioning a workload, please refer to [provision a workload cluster in AWS][provision-cluster-aws]

[management-cluster-registration]: https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.4/vmware-tanzu-kubernetes-grid-14/GUID-mgmt-clusters-register_tmc.html
[create-provisioner]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-BA7124EB-2A6B-46BC-839A-57609871306E.html
[add-workload-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-78908829-CB4E-459F-AA81-BEA415EC9A11.html
[provision-cluster-aws]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-E5F9242B-CBB1-4142-B089-3E16EED102F4.html

You can provision a Tanzu Kubernetes Grid workload cluster on AWS using this Terraform provider, as shown in the example below.
This example assumes that you have already registered a Tanzu Kubernetes Grid management cluster with Tanzu Mission Control.

{{ tffile "resource_templates/cluster_tkg_aws.tf" }}

**Note:**
For the AWS workload cluster resource, kindly follow the ordering of the subnet blocks as described in the example above.

When you apply these configurations, Terraform creates the workload cluster on the specified management cluster.
If you need to update the cluster, you update the rule definition and then Terraform applies it across all the sites.
If you add / or remove a site from the list, Terraform also handles creating or removing the rule on the subsequent `terraform apply` operation.