---
Title: "Provisioning Node pool Resource"
Description: |-
    Adding the node pool resource to a cluster.
---

# Provisioning node pool on a cluster

For clusters that you create in Tanzu Mission Control, you can define a pool of worker nodes on which your workloads can run.
By default, each workload cluster that you create through Tanzu Mission Control has a node pool.
The `tmc_nodepool` resource allows you to create additional node pools, as well as read, update, and delete existing node pools in your clusters.
Because Tanzu Mission Control cannot provision additional resources in a cluster that is created elsewhere and subsequently attached, you cannot create a node pool in an attached cluster.

For provisioning of a cluster, refer to the `tmc_cluster` in guides.

You could create/manage a `nodepool` for a cluster with the following config:

{{ tffile "resource_templates/tmc_nodepool.tf" }}