---
Title: "Node pool Resource"
Description: |-
    Adding the node pool resource to a cluster.
---

# Node pool

Create, delete, and update node pools for your clusters using this Terraform module.

For clusters that you create in Tanzu Mission Control, you can define a pool of worker nodes on which your workloads can run
because Tanzu Mission Control cannot provision additional resources in a cluster that is created elsewhere and subsequently attached, you cannot create a node pool in an attached cluster.

## Example Usage

{{ tffile "examples/resources/cluster_node_pool/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
