---
Title: "Cluster Resource"
Description: |-
    Creating the Tanzu Kubernetes cluster resource.
---

# Cluster

The `tanzu-mission-control_cluster` resource enables you to attach conformant Kubernetes clusters for management through Tanzu Mission Control.
With Tanzu Kubernetes clusters, you can also provision resources to create new workload clusters.

A Tanzu Kubernetes cluster is an opinionated installation of Kubernetes open-source software that is built and supported by VMware.
It is part of a Tanzu Kubernetes Grid instance that includes the following components:

- **management cluster** - a Kubernetes cluster that performs the role of the primary management and operational center for the Tanzu Kubernetes Grid instance
- **provisioner** - a namespace on the management cluster that contains one or more workload clusters
- **workload cluster** - a Tanzu Kubernetes cluster that runs your application workloads

## Attach Cluster

To use the **Tanzu Mission Control provider** to attach an existing conformant Kubernetes cluster,
you must have `cluster.admin` permissions on the cluster and `clustergroup.edit` permissions in Tanzu Mission Control.
For more information, please refer [Attach a Cluster.][attach-cluster]

[attach-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-6DF2CE3E-DD07-499B-BC5E-6B3B2E02A070.html

### Example Usage

{{ tffile "examples/resources/cluster/resource_attach_cluster.tf" }}


## Attach Cluster with Kubeconfig

### Example Usage

{{ tffile "examples/resources/cluster/resource_attach_cluster_kubeconfig.tf" }}


## Attach Cluster with Proxy

### Example Usage

{{ tffile "examples/resources/cluster/resource_attach_cluster_proxy.tf" }}


## Tanzu Kubernetes Grid Service Workload Cluster

To use the **Tanzu Mission Control provider** for creating a new cluster, you must have access to an existing Tanzu Kubernetes Grid management cluster with a provisioner namespace wherein the cluster needs to be created.
For more information, please refer [managing the Lifecycle of Tanzu Kubernetes Clusters][create-cluster]
and
[Cluster Lifecycle Management.][lifecycle-management]

You must also have the appropriate permissions:

- To provision a cluster, you must have admin permissions on the management cluster to provision resources within it.
- You must also have `clustergroup.edit` permissions on the cluster group in which you want to put the new cluster.

[create-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-1F847180-1F98-4F8F-9062-46DE9AD8F79D.html
[lifecycle-management]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-A6B0184F-269F-41D3-B7FE-5C4F96B3A099.html

### Example Usage

{{ tffile "examples/resources/cluster/resource_cluster_tkgs.tf" }}


## Tanzu Kubernetes Grid Vsphere Workload Cluster

To use the **Tanzu Mission Control provider** for creating a new cluster, you must have access to an existing Tanzu Kubernetes Grid management cluster with a provisioner namespace wherein the cluster needs to be created.
For more information, please refer [Managing the Lifecycle of Tanzu Kubernetes Clusters][create-cluster]
and
[Cluster Lifecycle Management.][lifecycle-management]

You must also have the appropriate permissions:

- To provision a cluster, you must have admin permissions on the management cluster to provision resources within it.
- You must also have `clustergroup.edit` permissions on the cluster group in which you want to put the new cluster.

[create-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-1F847180-1F98-4F8F-9062-46DE9AD8F79D.html
[lifecycle-management]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-A6B0184F-269F-41D3-B7FE-5C4F96B3A099.html

### Example Usage

{{ tffile "examples/resources/cluster/resource_cluster_tkg_vsphere.tf" }}

## Tanzu Kubernetes Grid AWS Workload Cluster

To use the **Tanzu Mission Control provider** for creating a new cluster, you must have access to an existing Tanzu Kubernetes Grid management cluster with a provisioner namespace wherein the cluster needs to be created.
For more information, please refer [Managing the Lifecycle of Tanzu Kubernetes Clusters][create-cluster]
and
[Cluster Lifecycle Management.][lifecycle-management]

You must also have the appropriate permissions:

- To provision a cluster, you must have admin permissions on the management cluster to provision resources within it.
- You must also have `clustergroup.edit` permissions on the cluster group in which you want to put the new cluster.

[create-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-1F847180-1F98-4F8F-9062-46DE9AD8F79D.html
[lifecycle-management]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-A6B0184F-269F-41D3-B7FE-5C4F96B3A099.html

### Example Usage

{{ tffile "examples/resources/cluster/resource_cluster_tkg_aws.tf" }}

{{ .SchemaMarkdown | trimspace }}
