---
Title: "Credential Resource"
Description: |-
    Creating the credential resource for different use-cases.
---

# Tanzu Mission Control AWS EKS credential

## Example Usage

{{ tffile "examples/resources/credential/aws_eks.tf" }}

# IMAGE REGISTRY credential

## Example Usage

{{ tffile "examples/resources/credential/cluster_image_registry_config.tf" }}

# Cluster proxy credential

### NOTE:
For proxy credential add the annotation `proxyType : explicit` for explicit proxy, `proxyType : transparent` for transparent proxy. When no such annotation is specified by default it is assumed to be explicit proxy credential.

## Example Usage

{{ tffile "examples/resources/credential/cluster_proxy.tf" }}

# Credential for Tanzu Mission Control provisioned AWS S3 storage used for data-protection

## Example Usage

{{ tffile "examples/resources/credential/dataprotection.tf" }}

# Credential for Tanzu Observability

## Example Usage

{{ tffile "examples/resources/credential/taznu_observability.tf" }}

{{ .SchemaMarkdown | trimspace }}
