---
Title: "Custom Policy Resource"
Description: |-
    Creating the Tanzu Kubernetes custom policy resource.
---

# Custom Policy

The `tanzu-mission-control_custom_policy` resource enables you to attach one of the pre-defined custom policy recipes to a particular scope for management through Tanzu Mission Control.


## Input Recipe

In the Tanzu Mission Control custom policy resource, there are six system defined types of custom templates that you can use:
- **tmc-block-nodeport-service**
- **tmc-block-resources**
- **tmc-block-rolebinding-subjects**
- **tmc-external-ips**
- **tmc-https-ingress**
- **tmc-require-labels**
- **Any custom template defined in TMC**

## Policy Scope and Inheritance

In the Tanzu Mission Control resource hierarchy, there are three levels at which you can specify custom policy resources:
- **organization** - `organization` block under `scope` sub-resource
- **object groups** - `cluster_group` block under `scope` sub-resource
- **Kubernetes objects** - `cluster` block under `scope` sub-resource

In addition to the direct policy defined for a given object, each object has inherited policies described in the parent objects. For example, a cluster has a direct policy and inherited policies from the cluster group and organization to which it is attached.

**Note:**
The scope parameter is mandatory in the schema and the user needs to add one of the defined scopes to the script for the provider to function.
Only one scope per resource is allowed.

## Target Kubernetes Resources

All the custom policy recipes contain a Kubernetes Resource spec that contains `api_groups` and `kind` as sub fields.
These attributes are of the kind `[]string` which the policy API supports. In terraform, while declaring multiple
`api_groups` and `kinds` under one block of `target_kubernetes_resources` is validated by the API but not reflected on the UI.
For UI comparison with Terraform, one must add multiple blocks of `target_kubernetes_resources`, each containing a API Group and a Kind.

Example:

```
target_kubernetes_resources {
  api_groups = [
    "apps",
  ]
  kinds = [
    "Event",
  ]
}
target_kubernetes_resources {
  api_groups = [
    "batch",
  ]
  kinds = [
    "Pod",
  ]
}
```

## Cluster scoped TMC-block-nodeport-service Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_block_nodeport_service_custom_policy.tf" }}

## Cluster scoped TMC-block-resources Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_block_resources_custom_policy.tf" }}

## Cluster scoped TMC-block-rolebinding-subjects Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_block_rolebinding_subjects_custom_policy.tf" }}

## Cluster scoped TMC-external-ips Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_external_ips_custom_policy.tf" }}

## Cluster scoped TMC-https-ingress Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_https_ingress_custom_policy.tf" }}

## Cluster scoped TMC-require-labels Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_require_labels_custom_policy.tf" }}

## Cluster scoped Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_tmc_custom.tf" }}

## Cluster group scoped TMC-block-nodeport-service Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_block_nodeport_service_custom_policy.tf" }}

## Cluster group scoped TMC-block-resources Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_block_resources_custom_policy.tf" }}

## Cluster group scoped TMC-block-rolebinding-subjects Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_block_rolebinding_subjects_custom_policy.tf" }}

## Cluster group scoped TMC-external-ips Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_external_ips_custom_policy.tf" }}

## Cluster group scoped TMC-https-ingress Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_https_ingress_custom_policy.tf" }}

## Cluster group scoped TMC-require-labels Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_require_labels_custom_policy.tf" }}

## Cluster group scoped Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_cluster_group_tmc_custom.tf" }}

## Organization scoped TMC-block-nodeport-service Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_block_nodeport_service_custom_policy.tf" }}

## Organization scoped TMC-block-resources Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_block_resources_custom_policy.tf" }}

## Organization scoped TMC-block-rolebinding-subjects Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_block_rolebinding_subjects_custom_policy.tf" }}

## Organization scoped TMC-external-ips Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_external_ips_custom_policy.tf" }}

## Organization scoped TMC-https-ingress Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_https_ingress_custom_policy.tf" }}

## Organization scoped TMC-require-labels Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_require_labels_custom_policy.tf" }}

## Organization scoped Custom Policy

### Example Usage

{{ tffile "examples/resources/custom_policy/resource_organization_tmc_custom.tf" }}

{{ .SchemaMarkdown | trimspace }}
