---
Title: "Custom Policy Template Resource"
Description: |-
   Creating a custom policy template.
---

# Custom Policy Template Resource

This resource enables users to create custom policy template in TMC.

For more information regarding custom policy template, see [Custom Policy Template][custom-policy-template].

[custom-policy-template]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-F147492B-04FD-4CFD-8D1F-66E36D40D49C.html

## Example Usage

{{ tffile "examples/resources/custom_policy_template/resource_custom_policy_template.tf" }}

{{ .SchemaMarkdown | trimspace }}
