---
Title: "Data Protection Resource"
Description: |-
   Enabling data protection on a cluster.
---

# Cluster Data Protection Resource

This resource enables users to activate and set up data protection for a cluster.
Once enabled, users can create instant backups or schedule backups for later.

For more information regarding data protection, see [Data Protection][data-protection].

[data-protection]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-C16557BC-EB1B-4414-8E63-28AD92E0CAE5.html

## Example Usage

{{ tffile "examples/resources/dataprotection/resource_enable_data_protection.tf" }}

## Import Data Protection
The resource ID for importing an existing data protection should be comprised of a full cluster name and a backup schedule name separated by '/'.

```bash
terraform import tanzu-mission-control_backup_schedule.demo_backup MANAGEMENT_CLUSTER_NAME/PROVISIONER_NAME/CLUSTER_NAME/BACKUP_SCHEDULE_NAME
```

{{ .SchemaMarkdown | trimspace }}
