---
Title: "Data Protection Resource"
Description: |-
   Enabling data protection
---

# Cluster Data Protection Resource

This resource enables users to activate and set up data protection for a cluster.
Once enabled, users can create instant backups or schedule backups for later.

For more information regarding data protection, see [Data Protection][data-protection].

[data-protection]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-C16557BC-EB1B-4414-8E63-28AD92E0CAE5.html

## Cluster Scope Example Usage

{{ tffile "examples/resources/dataprotection/resource_enable_data_protection_cluster.tf" }}

## Cluster Group Scope Example Usage

{{ tffile "examples/resources/dataprotection/resource_enable_data_protection_cluster_group.tf" }}


**NOTE :** To resolve cluster and cluster group data protection conflicts use the below command
``terraform refresh``

For instance, in case cluster group data protection is created on already existing data protection at cluster level.
Use above command and remove cluster level data protection resource from the terraform file.
Similarly, in case of disable data protection, use above command and remove associated backup schedule from terraform file.

## Import Cluster Scope Data Protection
The resource ID for importing an existing data protection should be comprised of a full cluster name separated by '/'.

```bash
terraform import tanzu-mission-control_enable_data_protection.demo_dp MANAGEMENT_CLUSTER_NAME/PROVISIONER_NAME/CLUSTER_NAME
```

## Import Cluster Group Scope Data Protection
The resource ID for importing an existing data protection should be comprised of a cluster group name separated.

```bash
terraform import tanzu-mission-control_enable_data_protection.demo_dp_cg CLUSTER_GROUP_NAME
```

{{ .SchemaMarkdown | trimspace }}
