---
Title: "IAM  Policy Template Resource"
Description: |-
   Creating an IAM policy template.
---

# IAM  Policy Template Resource

This resource enables users to create custom IAM policy template in TMC.

For more information regarding IAM policy template, see [IAM Policy Template][iam-policy-template].

[iam-policy-template]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-F147492B-04FD-4CFD-8D1F-66E36D40D49C.html

## Example Usage

{{ tffile "examples/resources/iam_policy_template/resource_iam_policy_template.tf" }}

{{ .SchemaMarkdown | trimspace }}
