---
Title: "Kubernetes Secret Resource"
Description: |-
    Creating the Kubernetes Secret resource.
---

# Kubernetes Secret

Manage a Kubernetes Secret using this Terraform module.

In managed clusters, both attached and provisioned, you can create Kubernetes Secret that you can manage through Tanzu Mission Control.

To create a kubernetes secret, you must be associated with the cluster.admin or clustergroup.admin role.

The `tanzu-mission-control_kubernetes_secret` resource enables you to create kubernetes secret to a particular scope for management through Tanzu Mission Control.

You can optionally make export to true to make the secret available to all namespaces.

[kubernetes Secret]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-BBE2404D-C2EE-41C7-B639-C0322783A74D.html

[export secret to all namespaces]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-B0A72F72-4216-4869-B293-6802368B11D2.html

## Kubernetes Secret Scope and Inheritance

In the Tanzu Mission Control resource hierarchy, there are two levels at which you can specify kubernetes secret resources:
- **object groups** - `cluster_group` block under `scope` sub-resource
- **Kubernetes objects** - `cluster` block under `scope` sub-resource  

**Note:**
The scope parameter is mandatory in the schema and the user needs to add one of the defined scopes to the script for the provider to function.
Only one scope per resource is allowed.

## Cluster scoped kubernetes secret

## Example Usage

{{ tffile "examples/resources/kubernetes_secret/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}


## Cluster Group scoped kubernetes secret

## Example Usage

{{ tffile "examples/resources/kubernetes_secret/cg_resource.tf" }}

{{ .SchemaMarkdown | trimspace }}