---
Title: "Kustomization Resource"
Description: |-
    Creating the Kustomization resource.
---

# Kustomization

The `tanzu-mission-control_kustomization` resource allows you to add, update, and delete Kustomization to a particular scope through Tanzu Mission Control.

To create a kustomization, you must be associated with the cluster.admin or clustergroup.admin role

In Creation of kustomization we must required to create Git Repository first, which we need to referenced in spec of kustomization, Git Repository can be created by using "tanzu-mission-control_git_repository" resource from terraform provider itself.

[kustomization]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-99916A6D-5DAF-4A26-88C7-28662F847F2F.html

## Kustomization Scope

In the Tanzu Mission Control resource hierarchy, there are two levels at which you can specify Kustomization resources:
- **object groups** - `cluster_group` block under `scope` sub-resource
- **Kubernetes objects** - `cluster` block under `scope` sub-resource

**Note:**
The scope parameter is mandatory in the schema and the user needs to add one of the defined scopes to the script for the provider to function.
Only one scope per resource is allowed.

## Cluster group scoped Kustomization

### Example Usage

{{ tffile "examples/resources/kustomization/resource_cluster_group.tf" }}

## Cluster scoped Kustomization

### Example Usage

{{ tffile "examples/resources/kustomization/resource_cluster.tf" }}

{{ .SchemaMarkdown | trimspace }}