---
Title: "Repository Credential Resource"
Description: |-
    Creating the Repository Credential resource.
---

# Repository Credential

The `tanzu-mission-control_repository_credential` resource allows you to add, update, and delete repository credential to a particular scope through Tanzu Mission Control.

Repository credentials are used to authenticate to Git repositories and must be created before adding your Git repository.
To create a repository credential, you must be associated with the cluster.admin or clustergroup.admin role.

[repository-credential]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-657661A2-B26E-412A-9A46-7467A44A075A.html

## Repository Credential Scope

In the Tanzu Mission Control resource hierarchy, there are two levels at which you can specify repository credential resources:
- **object groups** - `cluster_group` block under `scope` sub-resource
- **Kubernetes objects** - `cluster` block under `scope` sub-resource

**Note:**
The scope parameter is mandatory in the schema and the user needs to add one of the defined scopes to the script for the provider to function.
Only one scope per resource is allowed.

## Repository Credential Spec

In the Tanzu Mission Control resource hierarchy, there are two types of credential at which you can create repository credential resources:
- **Username/Password** - `username_password` block under `spec` sub-resource
- **SSH Key** - `ssh_key` block under `spec` sub-resource

**Note:**
The spec parameter is mandatory in the schema and the user needs to add one of the defined credential type to the script for the provider to function.
Only one credential type per resource is allowed.

## Cluster group scoped Repository Credential with Username/Password type credential

### Example Usage

{{ tffile "examples/resources/source_secret/resource_cluster_group_username_password.tf" }}

## Cluster scoped Repository Credential with Username/Password type credential

### Example Usage

{{ tffile "examples/resources/source_secret/resource_cluster_username_password.tf" }}

## Cluster group scoped Repository Credential with SSH Key type credential

### Example Usage

{{ tffile "examples/resources/source_secret/resource_cluster_group_ssh.tf" }}

## Cluster scoped Repository Credential with SSH Key type credential

### Example Usage

{{ tffile "examples/resources/source_secret/resource_cluster_ssh.tf" }}

{{ .SchemaMarkdown | trimspace }}