---
Title: "Tanzu Kubernetes Cluster (Class-based Cluster)"
Description: |-
   Creating a unified Tanzu Kubernetes Grid cluster.
---

# Tanzu Kubernetes Cluster (Class-based Cluster) Resource

This resource "tanzu-mission-control_tanzu_kubernetes_cluster" enables users to create and manage a Tanzu Kubernetes Grid cluster for both Tanzu Kubernetes Grid Vsphere 2.x & Tanzu Kubernetes Grid Service 2.x.

For more information about creating or managing the workload clusters on TMC refer to [Provision a Cluster using a Cluster Class][provision-cluster-class-cluster].

Cluster variables and node pool overrides are determined by the cluster class defined in the resource.
For identifying the structure of the cluster variables supported in the cluster class, users can utilize the cluster class [data source][cluster-class-datasource].
In order to configure & reuse cluster variables and node pools overrides, it is recommended defining these values in a local variable named after the cluster type
and cluster class version.

[provision-cluster-class-cluster]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-C778E447-DDBB-49FC-B0B2-A8012AC56B0E.html
[cluster-class-datasource]: https://registry.terraform.io/providers/vmware/tanzu-mission-control/latest/docs/data-sources/cluster_class

```
locals {
  tkgm_v110_cluster_variables = { ... }
  tkgm_v110_nodepool_a_overrides = { ... }
  tkgs_cluster_variables = { ... }
  tkgs_nodepool_a_overrides = { ... }
}
```

# Tanzu Kubernetes Grid Vsphere

## Example Usage

{{ tffile "examples/resources/tanzukubernetescluster/tkgm_vsphere_v110_cluster_variables.tf" }}
{{ tffile "examples/resources/tanzukubernetescluster/tkgm_vsphere_v110_cluster.tf" }}

# Tanzu Kubernetes Grid Service

## Example Usage

{{ tffile "examples/resources/tanzukubernetescluster/tkgs_vsphere_cluster_variables.tf" }}
{{ tffile "examples/resources/tanzukubernetescluster/tkgs_vsphere_cluster.tf" }}

## Import Tanzu Kubernetes Grid Cluster
The resource ID for importing an existing Tanzu Kubernetes Grid 2.x cluster class based cluster should be comprised of a full cluster name separated by '/'.

```bash
terraform import tanzu-mission-control_tanzu_kubernetes_cluster.demo_cluster MANAGEMENT_CLUSTER_NAME/PROVISIONER_NAME/CLUSTER_NAME
```

{{ .SchemaMarkdown | trimspace }}
