---
Title: "Tanzu Mission Control Provider"
Description: |-
  The TMC provider facilitates provisioning of TMC Resources through Terraform plugin.
---

# TMC Provider

The TMC provider facilitates provisioning of TMC Resources through Terraform plugin.

-More detailed Description-

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}