---
Title: "Backup Schedule Data Source"
Description: |-
    Listing backup schedules by cluster scope
---

# Backup Schedule Data Source

This data source enables users to list existing backup schedules by cluster scope.
Listing target locations by cluster scope is supported only for clusters enabled with data protection.

## Example Usage

{{ tffile "examples/data-sources/backupschedule/data_source_backup_schedule.tf" }}

{{ .SchemaMarkdown | trimspace }}
