---
Title: "Credential Resource"
Description: |-
    Fetching the details of credential resource.
---

# Credential

## Example Usage

{{ tffile "examples/data-sources/credential/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
