---
Title: "Inspections Data Source"
Description: |-
    List cluster inspections
---

# Inspections Data Source

This data source enables users to list cluster inspections.

## Example Usage

{{ tffile "examples/data-sources/inspections/datasource_inspections.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Status Field ##

Status field is a key-value pair of type string-string and it contains the following keys:
* phase - The phase which the inspection is in.
* phase_info - Information about the phase.