---
Title: "Kubernetes Secret Resource"
Description: |-
    Creating the Kubernetes Secret resource.
---

# Kubernetes Secret

Manage a Kubernetes Secret using this Terraform module.

In managed clusters, both attached and provisioned, you can create Kubernetes Secret that you can manage through Tanzu Mission Control.

To create a kubernates secret, you must be associated with the cluster.admin or clustergroup.admin role.

[kubernates Secret]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-BBE2404D-C2EE-41C7-B639-C0322783A74D.html

## Kubernetes Secret Scope and Inheritance

In the Tanzu Mission Control resource hierarchy, there are two levels at which you can specify kubernates secret resources:
- **object groups** - `cluster_group` block under `scope` sub-resource
- **Kubernetes objects** - `cluster` block under `scope` sub-resource    

**Note:**
The scope parameter is mandatory in the schema and the user needs to add one of the defined scopes to the script for the provider to function.
Only one scope per resource is allowed.

## Cluster scoped kubernates secret

## Example Usage

{{ tffile "examples/data-sources/kubernetes_secret/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}


## Cluster Group scoped kubernates secret

## Example Usage

{{ tffile "examples/data-sources/kubernetes_secret/cg_data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
