---
Title: "Management Cluster Registration Resource"
Description: |-
    Fetching the details of management cluster registration resource.
---

# Management Cluster Registration

Manage a management cluster registration using this Terraform module.

Registering a management cluster enables you to use VMware Tanzu Mission Control to manage cluster lifecycle on various 
infrastructure platforms.

For registering management cluster, you must have `managementcluster.admin` permissions in Tanzu Mission Control.
For more information, see [Register a Management Cluster with Tanzu Mission Control.][registration]

[registration]: https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-using/GUID-EB507AAF-5F4F-400F-9623-BA611233E0BD.html

## Example Usage

{{ tffile "examples/data-sources/management_cluster/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}