---
Title: "Repository Credential Data Source"
Description: |-
    Creating the Repository Credential data source.
---

# Repository Credential

The `tanzu-mission-control_repository_credential` data source allows you to get repository credential to a particular scope through Tanzu Mission Control.

Repository credentials are used to authenticate to Git repositories and must be created before adding your Git repository.
To create a repository credential, you must be associated with the cluster.admin or clustergroup.admin role.

[repository-credential]: https://techdocs.broadcom.com/us/en/vmware-tanzu/standalone-components/tanzu-mission-control/1-4/tanzu-mission-control-documentation/tanzumc-using-GUID-657661A2-B26E-412A-9A46-7467A44A075A.html

## Repository Credential Scope

In the Tanzu Mission Control resource hierarchy, there are two levels at which you can specify repository credential resources:
- **object groups** - `cluster_group` block under `scope` sub-resource
- **Kubernetes objects** - `cluster` block under `scope` sub-resource

**Note:**
The scope parameter is mandatory in the schema and the user needs to add one of the defined scopes to the script for the provider to function.
Only one scope per resource is allowed.


## Cluster group scoped Repository Credential

### Example Usage

{{ tffile "examples/data-sources/source_secret/data_source_cluster_group.tf" }}

## Cluster scoped Repository Credential

### Example Usage

{{ tffile "examples/data-sources/source_secret/data_source_cluster.tf" }}

{{ .SchemaMarkdown | trimspace }}