---
Title: "Tanzu Kubernetes Cluster (Class-based Cluster) Data Source"
Description: |-
   Reading a unified Tanzu Kubernetes Grid cluster.
---

# Tanzu Kubernetes Cluster (Class-based Cluster) Data Source

This data source "tanzu-mission-control_tanzu_kubernetes_cluster" enables users get the details for a TMC managed Tanzu Kubernetes Grid cluster for both Tanzu Kubernetes Grid Vsphere 2.x & Tanzu Kubernetes Grid Service 2.x.


## Example Usage

{{ tffile "examples/data-sources/tanzukubernetescluster/data-source.tf" }}


{{ .SchemaMarkdown | trimspace }}
